<html>
  <head>
    <title>Config</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>
    <div class="configMain">
      <h1>Enter your info</h1>
      <div class="rectPic"></div>
        <form action="/config">
          <input type="text" name="name" >
          <input type="text" name="surname">
          <input type="text" name="email">
          <textarea name="bio"></textarea>
          <input type="file" name="picture">
        </form>
      </div>
  </body>
</html>