@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("../fonts/AvenirNext.ttc");
}

.configBg, .qrBackground, .loginBackground, .authBackground {
  background-color: rgba(77, 85, 98, 0.1);
}

.loginBackground p, .configBg .addFiles, .authBackground p, .authBackground a {
  text-align: center;
  color: rgba(77, 85, 98, 0.4);
  font-size: 13px;
  margin-top: 70px;
  font-family: AvenirNext-DemiBold;
}

.authBackground p {
  margin-top: 15px;
  text-decoration: none;
}
.authBackground a {
  color: #4D5562;
  margin-top: 15px;
  text-decoration: underline;
}
.authTopBox {
  height: 80px;
  background-color: rgba(77, 85, 98, 0.05);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.authTopBox h1 {
  text-align: center;
  padding-top: 30px;
}

.authBottomBox {
  padding-right: 30px; 
  padding-left: 30px;
}
  
.configBg .addFiles {
  float: left;
  display: inline-block;
  margin-top: 25px;
  text-decoration: underline;
}

.miniBoxes {
  margin-top: 20px;
  height: 66px;
  width: 52px;

  border: 1px solid rgba(77,85,97,0.40);
  border-radius: 5px;
  display: inline-block;
  padding: 0;
  text-align: center;
  position: relative;

  font-size: 30px;
  font-family: AvenirNext-DemiBold;
  color: #4D5562;
}


.miniBoxes:focus {
  outline-color: rgba(46, 170, 255, 1);
  outline-width: 2px;
  outline-style: solid;
}

.logButton[type='submit'], .logButton button {
  border: 1px solid rgba(77,85,97,0.40);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
  border-radius: 5px;
  bottom: 0;
  height: 66px;
  width: 151px;
  padding: 0;
  display: inline-block;

  font-family: AvenirNext-DemiBold;
  line-height: 18px;
  font-size: 13px;
}
.BLA {
  border: 1px solid rgba(77,85,97,0.40);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
  border-radius: 5px;
  bottom: 0;
  height: 66px;
  width: 151px;
  padding: 0;
  display: inline-block;

  font-family: AvenirNext-DemiBold;
  line-height: 18px;
  font-size: 13px;

  background: rgba(69,54,54,0.20);
  color: #4D5562;
  float: right;
}

.logButton[type='submit']:focus, .logButton a:focus {
  outline-style: none;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
}

#login {
  color: #FFFFFF;
  background: #93CA7F;
  margin-top: 130px;
}
#cancel {
  width: 141px;
  margin-top: 10px;
  float: right;
  display: inline-block;
}
#accept {
  width: 141px;
  color: #FFFFFF;
  background: #93CA7F;
  margin-top: 10px;
  display: inline-block;
}


#logout {
  background: rgba(69,54,54,0.20);
  color: #4D5562;
  margin-top: 130px;
  float: right;
}

#submit {
  color: #FFFFFF;
  background: #93CA7F;
  float: right;
  margin-right: 18px;
}

h1 {
  font-family: AvenirNext-DemiBold;
  font-size: 22px;
  color: #4D5562;
  padding: 0;
  margin: 0;
}

input {
  display: block;
}

input[type='file'] {
  display: float;
  font-size: 0px;
  color: transparent;
}

ul {
  list-style-type: none;
}

li{
  height: 25px;
}

.configMain, .qrMain, .loginMain, .authMain {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15);
  border-radius: 8px;

  height: 438px;
  width: 350px;

  padding: 30px;


  position:absolute;
  z-index:15;
  top:30%;
  left:50%;
  margin:-100px 0 0 -195px;
}
.configMain {
  height: 458px;
}

.loginMain {
  height: 419px;
}

.authMain {
  padding: 0;
}

.rectPicBox {
  height: 80px;
  width: 100%;
  margin-top: 30px;
  display: inline-block;
}

.rectPicLogo {
  height: 80px;
  width: 80px;
  background: #4D5562;
  border-radius: 5px;
  float: left;
  display: inline-block;
}

.rectPicLogo img {
  padding: 25px 23px 23px 24px;
}

.importPic {
  display: inline-block;
  margin-left: 15px;
  padding: 0;
}
.rectPicSum {
 background: none;
}

.importPic a {
  opacity: 0.4;
  margin-top: 30px;
  font-family: AvenirNext-DemiBold;
  font-size: 13px;
  color: #4D5562;
  line-height: 18px;
}

.name, .surname, .email, .loginCode {
  width: 332px;
  height: 33px;
  
  position: relative;

  border: 1px solid rgba(77,85,97,0.40);
  border-radius: 5px;

  margin-top: 20px;
  padding-left: 15px;
}

.loginCode {
  margin-bottom: 20px;
}

.TICK {
  display: inline-block;
}

.TICKname {
  display: inline-block;
}

textarea {
  width: 332px;
  height: 66px;
 
  border: 1px solid rgba(77,85,97,0.40);
  border-radius: 5px;
 
  margin: 20px 0 20px 0;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.qrImage {
  margin-top: 30px;
  padding: 0 85px 0 85px;
}